<form method="post" action="/auth/signup" class="form">
    <!--TODO: add here flash messag partail -->

    <label for="name">name</label>
    <input class="input" type="text" id="name" name="firstName" value="Lynda">
    <label for="lastname">lastname</label>
    <input class="input" type="text" id="lastname" name="lastName" value="Dupond">
    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="lynda.dupond@gmail.com">
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="lindaDupond">
        <p>Choose your role:</p>
    <div>
    <input class="input"  type="number" id="cellphone" name="cellphone" value="0612233445">
    <input class="input" type="radio" id="babysitter" name="role" value="babysitter">
    <label for="babysitter">Babysitter</label>
    </div>
    <div>
    <input type="radio" id="family" name="role" value="family">
    <label for="user">Family</label>
    </div>

    <button class="btn">signup</button>
</form>
<p>
    Already got an account ? <a href="/auth/signin">signin</a>
</p>