<form method="post" action="/auth/signin" class="form">
    {{> flashMessage}}
    <label for="email">email</label>
    <input class="input" type="email" id="email" name="email" value="lynda.dupond@gmail.com">
    <label for="password">password</label>
    <input class="input" type="password" id="password" name="password" value="lyndaDupond">
    <button class="btn">signin</button>
</form>
<p>
    Don't have an account yet ? <a href="/auth/signup">signup</a>
</p>