<div class="container">
    <h1>Welcome to Super Nounou!</h1>
    {{#if isLoggedIn }}
    <a href="/auth/signout"><button class="btn btn-lg btn-primary">Sign out</button></a>
    {{/if}}

    <a href="/users/create"><button class="btn btn-lg btn-primary">Create your profile</button></a>

</div>

