<div class="container">
    <h1>Welcome to Super Nounou!</h1>
    <a href="/auth/signup"><button class="btn btn-lg">Sign up</button></a>
    <a href="/auth/signin"><button class="btn btn-lg btn-primary">Sign in</button></a>
    <a href="/users/create"><button class="btn btn-lg btn-primary">Create your profile</button></a>
</div>

