<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
      <a href="/" class="nav-link text-link-bg-dark">Home</a>
      <a href="/users" class="nav-link text-link-bg-dark">Users</a>
      <a href="/matches" class="nav-link text-link-bg-dark disabled">Matches</a>
    </nav>
    {{{body}}}
  </body>
</html>
