.card {
    width: 20rem;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}

.card img {
    border-bottom: 1px solid;
}

.card-body a {
    font-size: 1.3em;
}

.card-body a:active, a:visited{
    color: dodgerblue;
}

.fa-heart, .fa-heart:hover {
    color: crimson;
}

.fa-heart {
    font-size: 3em;
    background: none;
    border: none;
}