/*.container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
}*/

.card {
    background-color: antiquewhite;
    max-width: 600px;
    margin : 0 auto 2em auto;
	
	padding-bottom: 2em;
	border-radius: 8px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
		-2px -2px 4px rgba(255, 255, 255, 0.2);
}

.card img {
	width: 100%;
}
