.card {
    width: 20rem;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1.2rem;
}

.card img {
    border-bottom: 1px solid;
}

.navbar {
    padding: 1rem 1rem;
    opacity: .8;
}
  
.navbar a {
    font-size: 1.2rem;
    border-radius: 2em;
}

.card-body a {
    font-size: 1.3em;
}

.card-body a:active, a:visited{
    color: dodgerblue;
}

.fa-heart, .fa-heart:hover {
    color: crimson;
}