<div class="container">

	{{#each families}}

		<div class="row">
        <div class="card">
			<img src="{{this.picture}}" alt="{{this.firstName}}" />
			<p>{{this.firstName}}</p>
			<a href="/families/{{this._id}}">More info...</a>
		</div>
        </div>

	{{/each}}

</div>